CONFIG_ARCH_BOARD_CUSTOM=y
CONFIG_ARCH_BOARD_CUSTOM_DIR="../../../../boards/px4/esp32/nuttx-config"
CONFIG_ARCH_BOARD_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_BOARD_CUSTOM_NAME="px4"

CONFIG_HOST_LINUX=y
CONFIG_RAW_BINARY=y

CONFIG_ARCH_XTENSA=y
CONFIG_ARCH="xtensa"
CONFIG_ARCH_CHIP="esp32"
CONFIG_ARCH_CHIP_ESP32=y
CONFIG_ARCH_FAMILY_LX6=y
CONFIG_XTENSA_BTDEPTH=50

CONFIG_ARCH_CHIP_ESP32D0WD=y
# CONFIG_ESP32_FLASH_4M=y
# CONFIG_ESP32_FLASH_DETECT=y
# CONFIG_ESP32_FLASH_MODE_QOUT=y
# CONFIG_ESP32_FLASH_FREQ_80M=y
# CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
# CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240


CONFIG_I2C=y
CONFIG_ESP32_UART=y
CONFIG_ESP32_I2C=y
CONFIG_ESP32_SPI=y
CONFIG_ESP32_SPI2=y
CONFIG_ESP32_SPI3=y
CONFIG_ESP32_UART0=y
CONFIG_ESP32_I2C0=y


CONFIG_ESP32_GPIO_IRQ=y

CONFIG_ESP32_UART0_TXPIN=1
CONFIG_ESP32_UART0_RXPIN=3

CONFIG_ESP32_I2C0_SCLPIN=22
CONFIG_ESP32_I2C0_SDAPIN=21

CONFIG_ESP32_SPI_UDCS=y
CONFIG_RAMTRON_SETSPEED=y
CONFIG_ESP32_SPI2_DMA=y
CONFIG_ESP32_SPI3_DMA=y
CONFIG_SPI_DMADESC_NUM=2
CONFIG_ESP32_SPI_DMATHRESHOLD=0
CONFIG_ESP32_SPI2_CLKPIN=14
CONFIG_ESP32_SPI2_MOSIPIN=13
CONFIG_ESP32_SPI2_MISOPIN=12
CONFIG_ESP32_SPI3_CLKPIN=18
CONFIG_ESP32_SPI3_MOSIPIN=23
CONFIG_ESP32_SPI3_MISOPIN=19

CONFIG_XTENSA_IMEM_USE_SEPARATE_HEAP=y
# CONFIG_ARCH_HAVE_TEXT_HEAP=y

CONFIG_BOARD_LOOPSPERMSEC=16717
CONFIG_ARCH_INTERRUPTSTACK=0

# CONFIG_ARCH_TOOLCHAIN_GNU=y

CONFIG_USEC_PER_TICK=1000
CONFIG_START_YEAR=2022
CONFIG_START_MONTH=4
CONFIG_START_DAY=14
CONFIG_PREALLOC_TIMERS=50

CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_INIT_STACKSIZE=4096
CONFIG_TASK_NAME_SIZE=24


CONFIG_SDCLONE_DISABLE=y
CONFIG_NAME_MAX=40


CONFIG_SIG_DEFAULT=y
CONFIG_SIG_SIGSTOP_ACTION=y
CONFIG_SIG_SIGKILL_ACTION=y
CONFIG_SIG_SIGPIPE_ACTION=y


CONFIG_PTHREAD_MUTEX_ROBUST=y
CONFIG_PTHREAD_STACK_MIN=512

CONFIG_IDLETHREAD_STACKSIZE=750
CONFIG_SPI=y
CONFIG_SPI_EXCHANGE=y


CONFIG_UART0_SERIAL_CONSOLE=y
CONFIG_UART0_SERIALDRIVER=y
CONFIG_UART0_RXBUFSIZE=256
CONFIG_UART0_TXBUFSIZE=256
CONFIG_UART0_BAUD=115200
CONFIG_UART0_BITS=8


CONFIG_SERIAL_TERMIOS=y

CONFIG_FS_FAT=y
CONFIG_FS_PROCFS=y

CONFIG_MM_REGIONS=2
CONFIG_STDIO_BUFFER_SIZE=256
CONFIG_LIBC_LONG_LONG=y

# CONFIG_LIBM=y
CONFIG_BUILTIN=y


CONFIG_HAVE_CXX=y
CONFIG_HAVE_CXXINITIALIZE=y
CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_ARGCAT=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_CMDPARMS=y
CONFIG_NSH_CROMFSETC=y
CONFIG_NSH_DISABLE_IFCONFIG=y
CONFIG_NSH_DISABLE_IFUPDOWN=y
CONFIG_NSH_DISABLE_TELNETD=y
CONFIG_NSH_LINELEN=128
CONFIG_NSH_MAXARGUMENTS=15
CONFIG_NSH_NESTDEPTH=8
CONFIG_NSH_QUOTE=y
CONFIG_NSH_ROMFSETC=y
CONFIG_NSH_ROMFSSECTSIZE=128
CONFIG_NSH_STRERROR=y
CONFIG_NSH_VARS=y
CONFIG_MTD=y
CONFIG_MTD_BYTE_WRITE=y
CONFIG_MTD_PARTITION=y
CONFIG_MTD_RAMTRON=y

CONFIG_NSH_BUILTIN_APPS=y

CONFIG_SYSTEM_NSH=y

CONFIG_ESP32_TIMER=y
CONFIG_ESP32_TIMER0=y
CONFIG_ESP32_TIMER1=y
CONFIG_ESP32_TIMER2=y
CONFIG_ESP32_TIMER3=y

CONFIG_FS_BINFS=y
CONFIG_FS_CROMFS=y
CONFIG_FS_FAT=y
CONFIG_FS_FATTIME=y
CONFIG_FS_PROCFS=y
CONFIG_FS_PROCFS_INCLUDE_PROGMEM=y
CONFIG_FS_PROCFS_REGISTER=y
CONFIG_FS_ROMFS=y

CONFIG_SCHED_ATEXIT=y
CONFIG_SCHED_HPWORK=y
CONFIG_SCHED_HPWORKPRIORITY=249
CONFIG_SCHED_HPWORKSTACKSIZE=1280
CONFIG_SCHED_INSTRUMENTATION=y
CONFIG_SCHED_INSTRUMENTATION_EXTERNAL=y
CONFIG_SCHED_LPWORK=y
CONFIG_SCHED_LPWORKPRIORITY=50
CONFIG_SCHED_LPWORKSTACKSIZE=1632
CONFIG_SCHED_WAITPID=y

CONFIG_SIG_DEFAULT=y
CONFIG_SIG_SIGALRM_ACTION=y
CONFIG_SIG_SIGUSR1_ACTION=y
CONFIG_SIG_SIGUSR2_ACTION=y
CONFIG_SIG_SIGWORK=4
CONFIG_STACK_COLORATION=y

CONFIG_BOARDCTL=y
CONFIG_BOARDCTL_RESET=y
CONFIG_DEV_FIFO_SIZE=0
CONFIG_DISABLE_MQUEUE=y
CONFIG_LIBC_FLOATINGPOINT=y
# CONFIG_ARCH_FLOAT_H=y

CONFIG_PIPES=y
CONFIG_DEV_PIPE_MAXSIZE=1024
CONFIG_DEV_PIPE_SIZE=70

CONFIG_SCHED_INSTRUMENTATION_SWITCH=y

CONFIG_ARCH_FPU=y
CONFIG_SMP=y
CONFIG_SMP_NCPUS=2
CONFIG_ARCH_HAVE_MULTICPU=y
CONFIG_ESP32_DUAL_CPU=y

# CONFIG_XTENSA_ICACHE=y
# CONFIG_XTENSA_DCACHE=y
# CONFIG_ARCH_ICACHE=y
# CONFIG_ARCH_DCACHE=y

CONFIG_XTENSA_CP_INITSET=0x0001
CONFIG_XTENSA_CP_LAZY=n
XTENSA_IMEM_USE_SEPARATE_HEAP=y

CONFIG_BCH=y
# CONFIG_DEFAULT_SMALL=y
CONFIG_DISABLE_PTHREAD=n
CONFIG_DISABLE_MOUNTPOINT=n
# CONFIG_DISABLE_MQUEUE=y

CONFIG_ALLOW_BSD_COMPONENTS=y
CONFIG_ELF=y
